.home-page {
  font-family: 'Optima', sans-serif !important;
}

.home-page .tool-bar {
  position: static;
  background: white !important;
  justify-content: center;
}

.home-page .tool-bar .tool-bar-tab {
  color: black !important;
  font-family: 'Optima', sans-serif !important;
  font-weight: 20px;
}